# Jupyter Notebook
.ipynb_checkpoints

__pycache__/

### Vim ###
# Swap
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

# OS
.DS_Store

# Data
data/
dummy_data/
symbol_detection/datasets/
symbol_detection/datasets_test/
symbol_detection/dataset_demo/

# Runs and Outputs
runs/
runs_cubi/
symbol_detection/runs/
symbol_detection/outputs/

# Models
*.pt
